<div>
	<h4>About this app</h4>
	<p>This soccer app is inspired by the popular game: FIFA 2016 by <a href="https://www.easports.com/">@EA Sports</a>. You can select 18 players from packs to form your favorite team.</p>
	<p>You can set up your customized formation and choose your best 11 on the pitch.</p>
	<p>Player Data are crawled from <a href="https://www.easports.com/">@EA Sports</a> Servers.</p>
	<p>Players/nations/clubs images are from <a href="http://www.futhead.com/">@Futhead</a> community.</p>
	<p>Tournament bracket generation script is developed based on <a href="http://twitter.com/sterlingwes">@SterlingWes</a>'s excellent script.</p>
	<p>Any suggestions or questions, please contact <strong>xinyzhang9@gmail.com</strong></p>
</div>