<head>
	<link rel="stylesheet" href="http://futhead.cursecdn.com/static/CACHE/css/b78d6e9ffcd6.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<style>
		li{
			display:inline-block;
			text-align: center;
		}
		.left_div{
			width: 50%;
			display: inline-block;
			vertical-align: top;
			float: left;
		}
		.right_div{
			width: 40%;
			display: inline-block;
			vertical-align: top;
			float: right;
		}
		.img_in_table{
			width: 50px;
			height: 50px;
			display: block;
		}
		.red{
			color: red;
		}
		.orange{
			color: orange;
		}
		.blue{
			color: blue;
		}

	</style>
</head>
<div ng-controller = 'packsController'>
	<fieldset>
		<legend>{{username}},please choose the packs.<span class = 'red'>{{messages}}</span></legend>
	<div class = 'wrapper'>
		
	
		<div class = 'left_div'>
			<button id = 'getCaptain' ng-click = 'getCaptain()' class = 'btn btn-warning'>Get Captain</button>
			<div id = 'captain'>
				<ul>
					<li ng-repeat = 'captain in captains'>
						<div class="playercard card-small fut16 gold  nif" style="z-index: 20;" ng-controller:'playerCardsController'> 		
								<div class="playercard-art"></div> 		
							<div class="playercard-rating"><span class="value">{{captain.rating}}</span></div> 		
							<div class="playercard-name playercard-thin">{{captain.alias}}</div> 		
							<div class="playercard-position">{{captain.position}}</div> 		
							<div class="playercard-nation"><img src="{{captain.img_nation}}"></div> 	
							<div class="playercard-club"><img src="{{captain.img_club}}"></div> 		
							<div class="playercard-picture"><img src="{{captain.img_player}}">
							</div>
							<div class="playercard-workrates">{{captain.workrates[0]}}/{{captain.workrates[captain.workrates.indexOf('/')+2]}}</div> 		
							<div class="playercard-attr playercard-attr1">
								<span class="value">{{captain.pace}}</span> <span class="playercard-thin">PAC</span>
							</div> 		
							<div class="playercard-attr playercard-attr2">
									<span class="value">{{captain.shooting}}</span> 
								<span class="playercard-thin">SHO</span>
							</div> 		
							<div class="playercard-attr playercard-attr3">
								<span class="value">{{captain.passing}}</span> 
								<span class="playercard-thin">PAS</span>
							</div> 		
							<div class="playercard-attr playercard-attr4">
								<span class="value">{{captain.dribbling}}</span> 
								<span class="playercard-thin">DRI</span>
							</div> 		
							<div class="playercard-attr playercard-attr5">
									<span class="value">{{captain.defending}}</span> <span class="playercard-thin">DEF</span>
							</div> 		
							<div class="playercard-attr playercard-attr6">
								<span class="value">{{captain.physical}}</span> <span class="playercard-thin">PHY</span>
							</div>
							<div class="playercard-chem">CHE: <span class="value">0</span></div>
						</div>
						<button ng-click="addPlayerToTeam(captain)" class = 'btn btn-info chooseCapButton'>Choose</button>
					</li>
				</ul>
			</div>
			<button id = 'getGoldPlayer' ng-click = 'getGoldRarePlayer()' class = 'btn btn-primary'>Get Gold Players</button>
			<button id = 'getGK' ng-click = 'getGoldRareGK()' class = 'btn btn-danger'>Get GoalKeepers</button>
			<div id = 'pack_player'>
				<ul>
					<li ng-repeat = 'player in players'>
						<div class="playercard card-small fut16 gold  nif" style="z-index: 20;" ng-controller:'playerCardsController'> 		
								<div class="playercard-art"></div> 		
							<div class="playercard-rating"><span class="value">{{player.rating}}</span></div> 		
							<div class="playercard-name playercard-thin">{{player.alias}}</div> 		
							<div class="playercard-position">{{player.position}}</div> 		
							<div class="playercard-nation"><img src="{{player.img_nation}}"></div> 	
							<div class="playercard-club"><img src="{{player.img_club}}"></div> 		
							<div class="playercard-picture"><img src="{{player.img_player}}">
							</div>
							<div class="playercard-workrates">{{player.workrates[0]}}/{{player.workrates[player.workrates.indexOf('/')+2]}}</div> 		
							<div class="playercard-attr playercard-attr1">
								<span class="value">{{player.pace}}</span> <span class="playercard-thin">PAC</span>
							</div> 		
							<div class="playercard-attr playercard-attr2">
									<span class="value">{{player.shooting}}</span> 
								<span class="playercard-thin">SHO</span>
							</div> 		
							<div class="playercard-attr playercard-attr3">
								<span class="value">{{player.passing}}</span> 
								<span class="playercard-thin">PAS</span>
							</div> 		
							<div class="playercard-attr playercard-attr4">
								<span class="value">{{player.dribbling}}</span> 
								<span class="playercard-thin">DRI</span>
							</div> 		
							<div class="playercard-attr playercard-attr5">
									<span class="value">{{player.defending}}</span> <span class="playercard-thin">DEF</span>
							</div> 		
							<div class="playercard-attr playercard-attr6">
								<span class="value">{{player.physical}}</span> <span class="playercard-thin">PHY</span>
							</div>
							<div class="playercard-chem">CHE: <span class="value">0</span></div>
						</div>
						<button ng-click="addPlayerToTeam(player)" class = 'btn btn-info chooseButton'>Choose</button>
					</li>
				</ul>
			</div>

			
			<div id = 'goalkeeper'>
				<ul>
					<li ng-repeat = 'gk in gks'>
						<div class="playercard card-small fut16 gold  nif" style="z-index: 20;" ng-controller:'playerCardsController'> 		
								<div class="playercard-art"></div> 		
							<div class="playercard-rating"><span class="value">{{gk.rating}}</span></div> 		
							<div class="playercard-name playercard-thin">{{gk.alias}}</div> 		
							<div class="playercard-position">{{gk.position}}</div> 		
							<div class="playercard-nation"><img src="{{gk.img_nation}}"></div> 	
							<div class="playercard-club"><img src="{{gk.img_club}}"></div> 		
							<div class="playercard-picture"><img src="{{gk.img_player}}">
							</div>
							<div class="playercard-workrates">{{gk.workrates[0]}}/{{gk.workrates[gk.workrates.indexOf('/')+2]}}</div> 		
							<div class="playercard-attr playercard-attr1">
								<span class="value">{{gk.dive}}</span> <span class="playercard-thin">DIV</span>
							</div> 		
							<div class="playercard-attr playercard-attr2">
									<span class="value">{{gk.hand}}</span> 
								<span class="playercard-thin">HAN</span>
							</div> 		
							<div class="playercard-attr playercard-attr3">
								<span class="value">{{gk.kick}}</span> 
								<span class="playercard-thin">KIC</span>
							</div> 		
							<div class="playercard-attr playercard-attr4">
								<span class="value">{{gk.reflex}}</span> 
								<span class="playercard-thin">REF</span>
							</div> 		
							<div class="playercard-attr playercard-attr5">
									<span class="value">{{gk.speed}}</span> <span class="playercard-thin">SPE</span>
							</div> 		
							<div class="playercard-attr playercard-attr6">
								<span class="value">{{gk.pos}}</span> <span class="playercard-thin">POS</span>
							</div>
							<div class="playercard-chem">CHE: <span class="value">0</span></div>
						</div>
						<button ng-click="addPlayerToTeam(gk)" class = 'btn btn-info chooseGKButton'>Choose</button>
					</li>
				</ul>
			</div>

		</div>
		<div class = 'right_div'>
			<button ng-click = 'saveTeam()' class = 'btn btn-success'>Save Team</button>
			<button ng-click = 'removeTeam()' class = 'btn btn-danger'>Delete Team</button>
			<h4 class = 'orange'>You can add {{counter}} more players</h4>
			<h4 class = 'red'>Note:You must have exactly 2 goalkeepers!</h4>
			<h4 class = 'blue'>attakers: {{num_att}} | midfielders: {{num_mid}} |  
			defenders: {{num_def}} |  GoalKeepers: {{num_gk}}</h4>
			<table class = 'table'>
				<tr>
					<th>Name</th>
					<th>Position</th>
					<th>Rating</th>
					<th>Nation</th>
					<th>Club</th>
				</tr>
				<tr ng-repeat = 'teamMember in teamMembers'>
					<td><div><img class = 'img_in_table' src="{{teamMember.img_player}}" alt="img">{{teamMember.alias}}</div></td>
					<td ng-bind = 'teamMember.position'></td>
					<td ng-bind = 'teamMember.rating'></td>
					<td ng-bind = 'teamMember.nation'></td>
					<td ng-bind = 'teamMember.club'></td>

				</tr>
			</table>
		</div>
	</fieldset>
</div>
	

</div>