<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
		<link rel="stylesheet" href="http://futhead.cursecdn.com/static/CACHE/css/b78d6e9ffcd6.css" />

</head>
<body>            
<div id="squad" class="squad-16 f442" data-position-change-count="0" style="height: 1030px; margin: 0 0 0 10px;">

            
            <div id="field" class="">
                <canvas id="squad-canvas" style="z-index: -4; position: absolute; top: 0px; left: 0px; height: 800px; width: 910px;" width="910" height="800"></canvas>
                
                <div id="p1" class="player ui-droppable" data-squad-position="1">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p class="hidee">ST</p></a>
                    </div>
                    <div class="player-html"></div>
                <div class="pedestal empty" style="top: 200px;">ST</div></div>
                
                <div id="p2" class="player ui-droppable" data-squad-position="2">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p class="hidee">ST</p></a>
                    </div>
                    <div class="player-html"></div>
                <div class="pedestal empty" style="top: 200px;">ST</div></div>
                
                <div id="p3" class="player ui-droppable" data-squad-position="3">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p class="hidee">LM</p></a>
                    </div>
                    <div class="player-html"></div>
                <div class="pedestal empty" style="top: 200px;">LM</div></div>
                
                <div id="p4" class="player ui-droppable" data-squad-position="4">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p class="hidee">CM</p></a>
                    </div>
                    <div class="player-html"></div>
                <div class="pedestal empty" style="top: 200px;">CM</div></div>
                
                <div id="p5" class="player ui-droppable" data-squad-position="5">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p class="hidee">CM</p></a>
                    </div>
                    <div class="player-html"></div>
                <div class="pedestal empty" style="top: 200px;">CM</div></div>
                
                <div id="p6" class="player ui-droppable" data-squad-position="6">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p class="hidee">RM</p></a>
                    </div>
                    <div class="player-html"></div>
                <div class="pedestal empty" style="top: 200px;">RM</div></div>
                
                <div id="p7" class="player ui-droppable" data-squad-position="7">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p class="hidee">LB</p></a>
                    </div>
                    <div class="player-html"></div>
                <div class="pedestal empty" style="top: 200px;">LB</div></div>
                
                <div id="p8" class="player ui-droppable" data-squad-position="8">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p class="hidee">CB</p></a>
                    </div>
                    <div class="player-html"></div>
                <div class="pedestal empty" style="top: 200px;">CB</div></div>
                
                <div id="p9" class="player ui-droppable" data-squad-position="9">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p class="hidee">CB</p></a>
                    </div>
                    <div class="player-html"></div>
                <div class="pedestal empty" style="top: 200px;">CB</div></div>
                
                <div id="p10" class="player ui-droppable" data-squad-position="10">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p class="hidee">RB</p></a>
                    </div>
                    <div class="player-html"></div>
                <div class="pedestal empty" style="top: 200px;">RB</div></div>
                
                <div id="p11" class="player ui-droppable" data-squad-position="11">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p class="hidee">GK</p></a>
                    </div>
                    <div class="player-html"></div>
                <div class="pedestal empty" style="top: 200px;">GK</div></div>
                
            </div>
            <div id="bench" class="">
                
                <div id="p12" class="player ui-droppable" data-squad-position="12">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p>SUB</p></a>
                    </div>
                    <div class="player-html"></div>
                </div>
                
                <div id="p13" class="player ui-droppable" data-squad-position="13">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p>SUB</p></a>
                    </div>
                    <div class="player-html"></div>
                </div>
                
                <div id="p14" class="player ui-droppable" data-squad-position="14">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p>SUB</p></a>
                    </div>
                    <div class="player-html"></div>
                </div>
                
                <div id="p15" class="player ui-droppable" data-squad-position="15">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p>SUB</p></a>
                    </div>
                    <div class="player-html"></div>
                </div>
                
                <div id="p16" class="player ui-droppable" data-squad-position="16">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p>SUB</p></a>
                    </div>
                    <div class="player-html"></div>
                </div>
                
                <div id="p17" class="player ui-droppable" data-squad-position="17">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p>SUB</p></a>
                    </div>
                    <div class="player-html"></div>
                </div>
                
                <div id="p18" class="player ui-droppable" data-squad-position="18">
                    <div class="position-initial">
                        <a class="player-select-btn" href="javascript:;"><p>SUB</p></a>
                    </div>
                    <div class="player-html"></div>
                </div>
                
            </div>
        </div>
	
</body>
</html>